.e{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    padding: 10px;
 
}
#a{
   border-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 330px;
}

.home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.fourteen{
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    width: 40px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}