#first-box{
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.pink-color{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
#item1{
    background-color: black;
    color: white;
}
.blue-color{
    background-color: lightblue;
    width: 200px;
}

                /* 13b */

#second-box{
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.first-half{
background-color: lightpink;
width: 100px;
height: 50px;

}

.second-half{
background-color: lightblue;
width: 200px;
height: 50px;
display: flex;
justify-content: space-between;
}

.first-column{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


p{
    background-color: black;
    color: white;
}